.chartContainer {
    min-height: 300px;
    margin: auto;
    .apexcharts-legend-marker {
        background: none !important;
    }
   
    
    
}
.piechart {
    min-width: 50%;
    min-height: 50%;
    padding: 5px;
}

.piecontainer {
    border-radius: 20px;
    background: #ffffff;
    padding: 20px;
    box-shadow: -4px 8px 25px rgba(0, 0, 0, 0.1);
}

.chartheading1 {
    color: #009FFD;
    border-bottom: 3px solid #009FFD;
    padding: 10px;
}

.NoDataFound {
    width: 100%;
    max-width: 300px;
}

.NoDataFoundImageContainer {
    display: flex;
    justify-content: center;
}
    