.piechart {
    display: flex;
}

.piecontainer {
    border: 1px solid;
    border-radius: 5px;
}

.chartheading1 {
    background: darkgrey;
    color: white;
    border-bottom: 1px solid;
    padding: 10px;
}

.chartheading2 {
    background: #282c34;
    color: white;
    border-bottom: 1px solid;
    padding: 10px;
}