.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.forgotPasswordHeading {
    color: white;
    width: 100%;
    font-weight: bolder;
}

.forgotPasswordText {
    color: white;
    font-weight: 600;
    width: 100%;
    padding: 5px;
}