.searchContainer {
    position: relative;
}

.searchInput {
    position: absolute;
    top: 5px;
    left: -12px;
    z-index: 1;
    width: 100%;
    min-width: 200px;
}

.boxlayout {
    position: relative;
    outline: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.placeholder {
    font-weight: 300;
    font-size: smaller;
}

.search {
    padding: 5px;
    border-radius: 5px;
}