.dataContainer {
    margin-right: 10px;
}
.dataField {
    border: none;
    border-radius: 20px;
    background-color: rgb(140 191 252 / 26%);
    color: #2A2A72;
    padding: 6px 12px;
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    font-weight: 600;
}

.datashow {
    border: none;
    border-radius: 20px;
    background-color: rgb(140 191 252 / 26%);
    color: #2A2A72;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 6px 12px;
    font-size: small;
    font-weight: 600;
    .reset {
        font-size: 15px;
        color: #2A2A72;
    }
}

