.ProductivityDataContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col-2 {
    display: flex;
    align-items: center;
    gap: 60px;
}

.dateFieldDesign {
    position: relative;
    background-color: #bce8ff;
    padding: 5px;
    isolation: isolate;
    width: 100px;
    min-width: 100px;
    &.noData {
        background-color: #dcdcdc;
        color: #464646;
    }
}
.dateFieldDesign:before {
    height: 37px;
    content: '';
    left: 100%;
    top: 50%;
    aspect-ratio: 1;
    background-color: #bce8ff;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
}

.noData:before {
    background-color: #dcdcdc;
    color: #464646;
}

.col-1{
    padding-left: 5px;
}

.dayField {
    margin-bottom: 5px;
}

.productivityChart {
    width: 60px;
    height: 30px;
}
  