.UsersList {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 200px;
    overflow: auto;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1);
    h4 {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        color: rgb(31 47 115);
    }
}

.productivityData {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.data {
    display: flex;
    gap: 50px;
}

.NoContent {
    display: flex;
}

.users {
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    &:last-child {
        border-bottom: none;
    }
    
}
.usersButton {
    width: 100%;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.25s ease;
    border: none;
    text-align: left;
    overflow: hidden;
    &:hover {
        background-color: #eee;
    }
    &.Active {
        background-color: #bce8ff;
        box-shadow: -2px 4px 16px rgba(31,47,115,0.15);
        padding: 7px 12px;
    }
}

.weeklyData {
    padding: 20px 20px 20px 20px;
    background: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1);
    overflow: auto;
}