.timetracer{
    width: 100%;
    max-height: calc(100vh - 80px);
    overflow: auto;
}

.timetracernav {
    border-bottom: 1px solid #f5d6d6;
}

.timetracernavlist {
    display: flex;
    .list{
        display: flex;
    }

    .Active {
        background-color: #ACE6E6;
        border-bottom: 2px solid #451111;
    }
}

.timetracernavitems {
    display: flex;
    gap: 5px;
    padding: 10px;
    .timetracernavicon {
        color: #451111;
    }
    .navtext {
        color: #451111;
        padding-top: 3px;
    }
}

