.timetracer{
    width: 100%;
}

.timetracernav {
    border-bottom: 1px solid #f5d6d6;
}

.timetracernavlist {
    display: flex;
    .list{
        display: flex;
    }

    .Active {
        background-color: #C6B666;
        border-bottom: 2px solid #2f3c7e;
    }
}

.timetracernavitems {
    display: flex;
    gap: 5px;
    padding: 10px;
    .timetracernavicon {
        color: #2f3c7e;
    }
    .navtext {
        color: #2f3c7e;
        padding-top: 3px;
    }
}

