.main {
    display: flex;
    height: calc(100vh - 80px);
}

.sidenav {
    background-color: #FBEAEB; 
}

.navitems {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.vertical {
    display: flex;
    justify-content: center;
    color: #2f3c7e;
}

.navdiscription {
    display: flex;
    justify-content: center;
    color: #2f3c7e;
    white-space: nowrap;
}