@media only screen and (max-width: 990px) {
    .row1 {
        flex-direction: column;
    }

    .row2 {
        flex-direction: column;
    }

    .nav {
        width: 100%;
    
    }

    .expandfilter {
        flex-direction: column;
    }
}


.filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px 7px rgb(0 0 0 / 5%);
}

#filtericon {
    cursor: pointer;
    padding: 5px;
}

.expandfilter {
    display: flex;
    gap: 5px;
    list-style: none;
    border: 1px solid #FBEAEB;
    width: 100%;    
}

.filterlist {
    padding: 0px 5px;
    border-right: 1px solid #FBEAEB;
}

.row1 {
    display: flex;
    justify-content: space-around;
}

.row2 {
    display: flex;  
    justify-content: space-around;
}

.cardData {
    margin: 5px;
    min-height: 350px;
    min-width: 32%;
    border: 1px solid;
    border-radius: 5px;
}

.showfilterdata {
    width: 100%;
}

.showfilterdata {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

button {
    border: none;
    background: unset;
}

.restartbutton {
    padding: 5px;
}

.downarrow {
    padding: 5px;
}

// .chart {
//     width: 100%;
// }

// .showdate {
//     border: none;
//     border-radius: 20px;
//     background-color: lightgrey;
//     padding: 10px;
//     width: 17%; 
//     display: flex;
//     justify-content: space-evenly;
// }