.cardview {
    display: flex;
    flex-direction: column;
}

.cardheading {
    border-bottom: 1px solid;
    background-color: royalblue;
    color: white;
    padding: 10px;
}

.cardheading1 {
    background-color: teal;
    color: white;
    border-bottom: 1px solid;
    padding: 10px;
}

.cardheading2 {
    background-color: orangered;
    color: white;
    border-bottom: 1px solid;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.cl-1 {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}

.cl-2 {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
}

.defaultApplogo {
    background: tomato;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

.NoContent {
    display: flex;
    justify-content: center;
}