.screenshotChartOverlay {
    position: fixed;
    background-color:rgba(0,0,0,0.3);
    top:0%;
    left:0%;
    width:100vw ;
    height: 100vh;
    z-index: 1;
}
.screenshotChart {
    position: absolute;
    width: calc(100vw - 20%);
    top: 25%;
    left: 50%;
    background-color: #ffffff;
    transform: translate(-50%, 0%);
    min-height: 300px;
}
