.ScreenshotDetailsNav {
  display: flex;
  justify-content: space-between;
  padding:20px 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
  row-gap: 20px;
  border: 1px solid #bce8ff;
}
.ScreenshotUser {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.userDetails {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: 1px solid #f5d6d6;
  border-radius: 5px;
}

.screenshotFilter {
  border: 1px solid #f5d6d6;
  border-radius: 5px;
  padding: 15px;
  color: #f5d6d6;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconSize{
  font-size: 30px;
  cursor: pointer;
  
}
.iconSize:hover{
  color: pink;
}
