.screenshotContent {
  padding: 30px;
  padding-right: 0;
}

.Time {
  margin: 0;
  padding: 0;
  margin-left: 6px;
  display: flex;
  gap: 15px;
  align-items: flex-end;
  .material-icons-outlined {
    font-size: 16px;
    cursor: pointer;
  }
}

.Round {
  border: 1px solid #333;
  min-width: 14px;
  height: 14px;
  border-radius: 10px;
  align-self: flex-end;
}

.hourTimePeriodContainer {
    display: flex;
    align-items: flex-end;
    gap: 15px;
  }
  
  .hourTimePeriod {
    font-size: 14px;
  }

  .totalTimeWorked {
    color: #86878d;
  }

  .imageContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 12px;
    border-left: 1px solid #333;
    padding: 30px;
    padding-right: 0;
  }

  .noBorder{
    border: 0;
  }
  .imageChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .imageName {
    border: 1px solid #ebecf0;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ebecf0;
  }
  
  .screenshotImage {
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 90px;
    border-radius: 10px;
  }

  .imageStyle {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    border-radius: 10px
  }
  
  .imageTime {
    padding: 10px;
    width: 150px;
    border: 1px solid #ebecf0;
  }

 .Nodata {
  max-width: 500px;
  max-height: 500px;
  transform: translate(70%,0%);
 }

