.nav {
    background-color: antiquewhite;
}

.topNav {
    float: right;
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    bottom: 80px;
    right: 10px;
}
.logout {
    font-size: x-large;
}
.inActive {
    list-style-type: none;
    padding: 5px;
}

.logo-nav {
    height: 50px;
    position: absolute;
}

.appName-nav {
    font-family: -webkit-body;
    font-weight: bolder;
    position: relative;
    font-size: 25px;
    bottom: 22px;
    left: 55px;
    height: 10px;
    color: #274C77;
}